
.flex{
    display: flex;
}
  @import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap');

  html , body {
    height: 100%;
    width: 100%;
    font-family: Assistant,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  .left{
    padding-top: 5px;
  }
  .right{
    margin-right: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
  }

nav div img.logo{
    width: 56px;
    height: 45px;
}
nav{
    font-weight: 700;
    padding-top:7px;
    font-size: small;
   

}
.container{
    padding: 0px 56px;
    height: 67px;
    
}
.container1{
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    /* height: 100vh; */
   /* height: 70px; */
  padding: 10px 5vw;
  /* margin-top: -156px; */
}
nav ul li {
    list-style: none;
    padding: 0PX 10px;
}
.uppercase{
    text-transform: uppercase;
}

.space-between{
    width: 5;
    justify-content: space-between;
}

.section1{
    height: 155vh;
    background-color: white;    
    overflow-x: hidden;
}
header{
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.desktop-searchBar{
    width: 508px;
    padding: 6px 32px;
    border: 0.5px solid #ece9e9;
    background: #f7f8fd;
    border-radius: 5px;
}
.Homeimg{
    padding-left: 0rem;
    /* width: ; */
    height: 258px;

}
.image{
    width: 100vw;
}

.dress{
    padding: 0 ;
    width: 259px
}
.heading{
    padding: 23px;
    margin-left: 23px;
    word-spacing: 8px;
    letter-spacing: 5px;
    color: grey;
}
.newdress1{ 
margin: 10px ;
} 
.newdress{
height: 60.2%;
width: 219px;
}
.profile ,.wishlist, .bag{
    padding-top: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15px;
    width: 4px;
    /* gap: 10px; */
    
}
.profile h4 ,.wishlist h4, .bag h4{
    font-size: 10px;
   
}
.footer{
    align-items: center;
    background: #FAFBFC;
    text-align: justify;
    /* margin: 15rem; */
    padding: 15rem;
    margin-top: 10rem;
}
li,p {
    color: grey;
    font-size: 14px;
    list-style-type: none;

}
.footerImg{
    /* height: 23px; */
    width: 149px;
}
.onlineshopping{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: black;
}
  